*.iml
target/
.idea/
Config.java
*.mov
src/main/webapp/img/concertView.mov
src/main/webapp/img/lanterns.mov
src/main/webapp/img/redLightscar.mov
src/main/webapp/img/snow.mov
src/main/webapp/img/stars.mov