/*User Menu bar*/
.user-pic{
width: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-left:30px;
}

.sub-menu-wrap{
    position: absolute;
    top:100%;
    right:1%;
    width:320px;
    max-height: 0px;
    overflow:hidden;
    transition:max-height 0.5s;
    z-index:2;
}
.sub-menu-wrap.open-menu{
max-height: 400px;
}

.sub-menu{
    background: white;
    padding: 20px;
    margin:10px;
}
.user-info{
   display: flex;
    align-items:center;
    margin-bottom: -27px;
}
.user-info h2{
font-weight:300;
    color:black;
}
.user-info img{
width:60px;
    border-radius:50%;
    margin-right: 15px;
}
.sub-menu hr{
    border:0;
    height:1px;
    width: 100%;
    background: black;
    margin:15px 0 10px;
}
.sub-menu-link{
    display:flex;
    align-items:center;
    text-decoration:none;
    margin:12px 0;
}
.sub-menu-link p{
    width:100%;
    margin-left: 10px;
}

.sub-menu-link img{
    width:40px;
    border-radius:50%;
    padding: 8px;
    margin-right: 5px;

}
.sub-menu-link span{
    font-size: 22px;
transition:transfrom 0.5s;
}
.sub-menu-link:hover span{
    transform:translate(5px);
}
.sub-menu-link:hover p{
    font-Weight:600;
}
/*end of user menu bar*/

/*carousel*/
.w-100{
    width: 100%;
    height: 50%;
}
/*body{*/
/*    background-image: url(/img/pln.jpeg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*    background-color: black;*/

/*}*/
#navHero{
    background: rgba(0, 0, 0, 0.61) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) !important;
}
.loginNav{
    text-decoration: none;
    color: white;
}
.navbar-brand{
    color: white !important;
}

h1,p{
color: black !important;
}
.container-main{
    align-items: center;
}
section{
padding:100px 200px;
 }
.home{
    position: relative;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    /*background:blue;*/
}
.home.container-content{
    z-index:888;
    color:white;
    width:70%;
    margin-top:50px;
}
.home.container-content h1{
font-size:4em;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:5px;
    line-height:75px;
    margin-bottom:40px;
}
.home.container-content h1 span{
    font-size:1.2em;
    font-weight:600;
}
.home.container-content p{
    margin-bottom: 65px;
}
.home.container-content a{
   font-size: 1.1em;
}
.home video{
    z-index:000;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
