
/*---------------------------------User Menu index---------------------------------*/
.event-cancelled {
    color: red !important;
    font-weight: bolder;
    font-size: 23px;
}
svg.bi.bi-emoji-tear {
    margin-top: -16px;
    width: 32px;
}
.user-pic{
    border-radius: 50%;
    cursor: pointer;
    margin-left:30px;

}
.sub-menu-wrap{
    position: absolute;
    top:100%;
    right:1%;
    width:320px;
    max-height: 0px;
    overflow:hidden;
    transition:max-height 0.5s;
    z-index:2;
}
.sub-menu-wrap.open-menu{
max-height: 400px;
}

.sub-menu{
    background: white;
    padding: 20px;
    margin:10px;
}
.user-info{
   display: flex;
    align-items:center;
    margin-bottom: -27px;
}
.user-info h2{
font-weight:300;
    color:black;
    margin-top: 14px
}
.user-info img{
width:60px;
    border-radius:50%;
    margin-right: 15px;
}
.sub-menu hr{
    border:0;
    height:1px;
    width: 100%;
    background: black;
    margin-top: 31px;
}
.sub-menu-link{
    display:flex;
    align-items:center;
    text-decoration:none;
    margin:12px 0;
}
.sub-menu-link p{
    width:100%;
    margin-left: 10px;
}

.sub-menu-link img{
    width:40px;
    border-radius:50%;
    padding: 8px;
    margin-right: 5px;

}
.sub-menu-link span{
    font-size: 22px;
transition:transfrom 0.5s;
    color: black;

}
.sub-menu-link:hover span{
    transform:translate(5px);
}
.sub-menu-link:hover p{
    font-Weight:600;
}
/*----------------------------end of user menu index-----------------------------------------------------*/

/*--------carousel-----------*/
.container.image-container {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
#carouselBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(50px);
}

/*--------carousel-----------*/
.hero-carousel-img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1288/356;
}
#carouselBackground .hero-carousel-img {
    aspect-ratio: unset;
    height: 100vh;
    width: 100vw;
}
/*------------------------------- navbar for Dashboard------------------------------------------------------*/
#navHero{
    background: linear-gradient(-45deg, #060606, #1D1E22, #9AA0A6, #03020F);!important;
    animation: gradient 15s ease infinite;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) !important;
    background-size: 400% 400%;

}
.loginNav{
    text-decoration: none;
    color: white;
}
.navbar-brand{
    color: white !important;
}

nav{
    background: linear-gradient(-45deg, #060606, #1D1E22, #9AA0A6, #03020F);
    background-size: 400% 400%;
    width:100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position:relative;
    animation: gradient 15s ease infinite !important;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo{
    width:120px;
}

.form-control {
    width: auto;
    min-width: 200px;
}

.user-pic {
    width: 30px;
    cursor: pointer;
}

a.navbar-brand {
    margin-right: 71%;
    margin-left: 19px;
}
@media (max-width: 768px) {
    .navbar-brand {
        margin-right: auto;
    }

    .form-control {
        width: 100%; /* Make the input full width on mobile */
        min-width: auto; /* Remove the minimum width on mobile */
        margin: 10px 0; /* Add spacing around the search bar on mobile */
    }

    /*.input-group-append {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*}*/
}

/*input.form-control {*/
/*    margin-top: 16px;*/
/*    margin-right: 9px;*/
/*    border-radius: 17px;*/
/*}*/

button.btn.btn-outline-success {
    margin-top: 17px;
}

.input-group-append{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    height: 4px;
}
.input-group-append:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}









/*-------------------------------End of navbar for Dashboard------------------------------------------------------*/

/*css for fillerMain*/

h1,p{
color: black !important;
}

/*-----------------------------------cards Ads---------------------------------------------------------------------*/

.card-body{

}

.user-banner {
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.user-image {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    border: 3px solid #000;
    margin-left: -66px;

}
.input {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    margin-right: 15px;
}

input:focus {
    border-bottom: 2px solid #5b5fc7;
    /*border-radius: 4px 4px 2px 2px;*/
}

input:hover {
    outline: 1px solid lightgrey;
}

/*------- All Ads Button --------*/




.button {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #c300ff;
    border-radius: 21px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #c300ff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 2;
    left: -65px;
    height: 32px;
}

.button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #c300ff;
    z-index: -1;
}

.button:hover, a:focus {
    color: rgb(255, 255, 255);
}

.button:hover:before, a:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button:active {
    transform: scale(0.9);
}




